@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
  transform: translateY(-20px);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
:root {
  /* ## Colors */
  --gray-700: hsl(217, 19%, 35%);
  --gray-500: hsl(214, 17%, 51%);
  --gray300: hsl(212, 23%, 69%);
  --gray300-: hsla(212, 23%, 69%, 0.4);
  --gray100: hsl(210, 46%, 95%);

  --main-fs: 0.813rem; /* Font size: 13px */

  --large-fw: 700;
  --medium-fw: 500;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--gray100);
  font-family: "Manrope", sans-serif;
}

main {
  width: 375px;
  height: 580px;
  margin: auto 0;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 10px 50px var(--gray300-);
}

figure.header-image {
  width: 100%;
  height: 42%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: url(./images/drawers.jpg) no-repeat top center / cover;
}

section {
  height: 58%;
  letter-spacing: 0.5px;
}

header {
  margin-bottom: 15px;
  padding: 30px 40px 0 40px;
}

header h2 {
  font-size: 1.1rem;
  color: var(--gray-700);
}

article {
  margin-bottom: 20px;
  padding-right: 20px;
  padding: 0 40px;
}

article p {
  font-size: 0.865rem;
  color: var(--gray-500);
  font-weight: 300;
  line-height: 1.6;
}

aside {
  transition: all 0.3s linear;
  display: flex;
  align-items: center;
  padding: 0 40px;
  height: 90px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

aside figure {
  width: 25%;
  display: flex;
  align-items: center;
}

aside figure img {
  border-radius: 50px;
  width: 60%;
}

aside .info {
  width: 55%;
  font-size: 0.835rem;
}

aside .info time {
  font-weight: var(--medium-fw);
  color: var(--gray300);
}

aside .info span {
  color: var(--gray-700);
  font-weight: var(--large-fw);
  display: block;
  margin-bottom: 3px;
}

aside .info .icon {
  display: none;
}

aside .button {
  width: 20%;
  cursor: pointer;
}

.icon {
  float: right;
  width: 35px;
  height: 35px;
  position: relative;
  background-color: var(--gray100);
  border-radius: 50px;
}

aside .icon::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  top: 0;
  left: 0;
  background: url(./images/icon-share.svg) no-repeat center center;
}

aside.open {
  background-color: var(--gray-700);
  transition: all 0.3s linear;
  height: 90px;
}

aside.open figure {
  display: none;
}

aside.open .info {
  display: none;
}

aside.open span {
  display: none;
}
aside.open time {
  display: none;
}

aside .icons {
  display: none;
}

aside.open .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 100%;
}

aside.open .icon {
  background-color: var(--gray-500);
  float: right;
  width: 35px;
  height: 35px;
  position: relative;
  border-radius: 50px;
}

aside.open .icon::before {
  content: "";
  position: absolute;
  transform: scale(0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./images/share.svg) no-repeat center center / cover;
}

aside.open .button {
  width: 30%;
  cursor: pointer;
}

aside.open .icons p {
  color: var(--gray300);
  letter-spacing: 6px;
  font-size: 0.93rem;
}

aside.open .icons img {
  width: 25px;
  cursor: pointer;
}

@media (max-width: 320px) {
  .attribution {
    transform: translateY(2px);
  }
}

@media (min-width: 800px) {
  main {
    width: 800px;
    height: 280px;
    flex-direction: row;
    overflow: visible;
  }

  figure.header-image {
    width: 100%;
    height: 100%;
    background: url(./images/drawers.jpg) no-repeat center left / cover;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  section {
    height: 100%;
    letter-spacing: 0.5px;
  }

  header h2 {
    font-size: 1.3rem;
    color: var(--gray-700);
    line-height: 1.45;
  }
  article {
    margin-bottom: 0;
  }

  article p {
    font-size: 0.8rem;
    color: var(--gray-500);
    font-weight: 300;
    line-height: 1.6;
  }

  aside {
    height: 85px;
  }

  aside figure {
    width: 15%;
  }

  aside figure img {
    border-radius: 50px;
    width: 70%;
  }

  aside .info {
    font-size: 0.8rem;
  }

  .icon {
    transform: translateX(25px);
  }

  aside.open {
    background-color: inherit;
    transition: all 0.3s linear;
    height: 85px;
    position: relative;
  }

  aside.open figure {
    display: flex;
  }

  aside.open .info {
    display: block;
  }

  aside.open span {
    display: block;
  }

  aside.open time {
    display: block;
  }

  aside .icons {
    display: none;
  }

  aside.open .icons {
    position: absolute;
    top: -55px;
    right: -52px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    width: 250px;
    height: 55px;
    border-radius: 10px;
    background-color: var(--gray-700);
    z-index: 3;
    box-shadow: 0 10px 10px var(--gray300-);
  }

  aside.open .icons::after {
    content: "";
    position: absolute;
    background-color: var(--gray-700);
    width: 30px;
    height: 30px;
    top: 30px;
    transform: rotate(45deg);
    z-index: -1;
  }

  aside.open .icon {
    background-color: var(--gray-500);
    float: right;
    width: 35px;
    height: 35px;
    position: relative;
    border-radius: 50px;
    transform: translateX(-15px);
  }

  aside.open .icon::before {
    content: "";
    position: absolute;
    transform: scale(0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(./images/share.svg) no-repeat center center / cover;
  }
  aside.open .button {
    width: 30%;
    cursor: pointer;
  }

  aside.open .icons p {
    color: var(--gray300);
    letter-spacing: 6px;
    font-size: 0.75rem;
  }

  aside.open .icons img {
    width: 17px;
    cursor: pointer;
  }
}
