@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
  transform: translateY(-20px);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
:root {
  /* ## Colors */
  --gray-700: hsl(217, 19%, 35%);
  --gray-500: hsl(214, 17%, 51%);
  --gray300: hsl(212, 23%, 69%);
  --gray100: hsl(210, 46%, 95%);

  --main-fs: 0.813rem; /* Font size: 13px */

  --large-fw: 700;
  --medium-fw: 500;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--gray100);
  font-family: "Manrope", sans-serif;
}

main {
  width: 375px;
  height: 600px;
  margin: auto 0;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

figure.header-image {
  width: 100%;
  height: 42%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: url(./images/drawers.jpg) no-repeat top center / cover;
}

section {
  height: 58%;
  letter-spacing: 0.5px;
}

header {
  margin-bottom: 15px;
  padding: 30px 40px 0 40px;
}

header h2 {
  font-size: 1.1rem;
  color: var(--gray-700);
}

article {
  margin-bottom: 40px;
  padding-right: 20px;
  padding: 0 40px;
}

article p {
  font-size: 0.865rem;
  color: var(--gray-500);
  font-weight: 300;
  line-height: 1.6;
}

aside {
  display: flex;
  align-items: center;
  padding: 0 40px;
  height: 80px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

aside figure {
  width: 25%;
  display: flex;
  align-items: center;
}

aside figure img {
  border-radius: 50px;
  width: 60%;
}

aside .info {
  width: 55%;
  font-size: 0.835rem;
}

aside .info time {
  font-weight: var(--medium-fw);
  color: var(--gray300);
}

aside .info span {
  color: var(--gray-700);
  font-weight: var(--large-fw);
  display: block;
  margin-bottom: 3px;
}

aside .button {
  width: 20%;
  cursor: pointer;
}

.icon {
  float: right;
  width: 35px;
  height: 35px;
  position: relative;
  background-color: var(--gray100);
  border-radius: 50px;
}

aside .icon::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  top: 0;
  left: 0;
  background: url(./images/icon-share.svg) no-repeat center center;
}

aside.open {
  background-color: var(--gray-700);
}
